@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
    background-color: #e9e9e9;
}

.container {
    width: 30%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 0;
    border-radius: 20px;
}
.container_btn{
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5%;
    font-family: 'Prompt', sans-serif;
    margin-right: 10px;


}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2,
h3 {
    padding-top: 50px;
    font-family: 'Prompt', sans-serif;
    text-align: center;
}

label{
    font-family: 'Prompt', sans-serif;
    margin-left: 7%;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #00ff99;
    color: rgb(0, 0, 0);
}

.btn-danger:hover {
    background-color: #00975b;
}

input {
    font-family: 'Prompt', sans-serif;
    width: 80%;
    padding: 10px;
    margin-left: 7%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5%;
}